{% extends 'base.html.twig' %}

{% block title %}New Pasta{% endblock %}

{% block main %}
    <h1>Create new Pasta</h1>

    {{ include('pasta/_form.html.twig') }}

    <a href="{{ path('app_pasta_new') }}">back to list</a>
{% endblock %}
