{% extends 'base.html.twig' %}

{% block title %}Edit Placard{% endblock %}

{% block body %}
    <h1>Edit Placard</h1>
    {% dump(placard) %}

    {{ include('placard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_placard_index') }}">back to list</a>

    {{ include('placard/_delete_form.html.twig') }}
{% endblock %}
