{%- set url = ea_url()
    .setController('App\\Controller\\Admin\\PastaCrudController')
    .setAction('detail')
    .setEntityId(entity.instance.id)
-%}
{% set action = app.request.attributes.get('_controller')[1] %}
{% if action == 'detail' %}
    {{ field.value }}
{% else %}
    <a href="{{ url }}">
            {{ field.value }}
    </a>
{% endif %}